#home{
	position: relative;
	width: 100%;
	text-align: center;
}
.barraSessao{
	margin-top: 100px;
	width: 100%;
	height: 100px;
	background-color: blue;
	color: white;
}
.barraSessao h2{
	font-size: 60px;
}
.infoSessao{
	margin-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid black;
}