/*01 - Geral*/
*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
	height: 100%;
	width: 100%;
}
/*02 - Estilos para a navbar */
.navbar-default{
	border-radius: 0px;
	border-style: none;
	background-color: black;
}
.menu{
	position: fixed;
	top: 0%;
	width: 100%;
}
.container-fluid{
	margin: 0px 50px;

}
.navbar a:visited{
	font-family: "Spy Agency Condensed";
	color: black;
}
.navbar a{
	font-family: "Spy Agency Condensed";
	color: black;
}
.navbar-brand{
	padding-top: 10px;
}
/*Fim navbar*/
/* 03 - Estilos para o header */
header{
	position: relative;
	background-image: url("../img/ic.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
	height: 80%;
}
.transparenciaHeader{
	background-color: rgba(0, 102, 204, 0.3);
	height: 100%;
	width: 100%;
}

/* Estilos para a sessão de equipes */
#equipe{
	width: 100%;
	height: 500px;
	text-align: center;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.2);
}
#equipe h2{
	font-size: 50px;
}
#equipe h3{
	font-size: 20px;
	color: grey;
}
.equipeArticle{
	padding: 50px;
}
.rosto{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid white;
	border-style: ;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-color: black;
}