/* 
** 1.0 Geral
** 2.0 Estilos para a navbar
** 3.0 Estilos para o header
** 4.0 Estilos para a sessão de equipes
** 5.0 Estilos para a sessão sobre
** 6.0 Estilos do footer
*/

/* 1.0 - Geral*/
*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
.linha{
	clear: both;
}
/* Fim geral */

/* 2.0 - Estilos para a navbar */
.menu{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
	font-size: 15px;
}
.navbar-default{
	border-radius: 0px;
	border-style: none;
	background-color: black;
}
.container-fluid{
	margin: 0px 50px;

}
.navbar a{
	font-family: "Spy Agency Condensed";
	color: grey;
}
.navbar a:visited{
	color: black;
}
.navbar-brand{
	padding-top: 10px;
}
/*Fim navbar*/

/* 3.0 - Estilos para o header */
header{
	position: relative;
	background-image: url("../img/ic.jpg");
	background-size: cover;
	background-position: bottom center;
	width: 100%;
	height: 700px;
}
.caixaHeader{
	position: absolute;
	height: 150px;
	width: 100%;
	top: calc(50% - 75px);
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}
.caixaHeader h1{
	font-family: "Spy Agency Condensed";
	font-size: 80px;
	color: white;
}
.caixaHeader h4{
	color: white;
}
/*  Fim estilos header */

/* 4.0 - Estilos para a sessão de equipes */
#equipes{
	width: 100%;
	height: 2300px;
	text-align: center;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.2);
}
article{
	margin: 50px;
	margin-bottom: 400px;
}
.sessao{
	padding: 20px;
}
.sessao h2{
	font-size: 70px;
}
.sessao h3{
	font-size: 30px;
}
.rosto{
	margin-top: 50px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid white;
	border-style: ;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-color: black;
}
/* Fim estilos sessão de equipes */

/* 5.0 - Estilos para a sessão sobre */
#aEmpresa, #estrutura{
	/*font-family: "Spy Agency Condensed";*/
	color: white;
}
#aEmpresa h2, #estrutura h2{
	font-family: "Spy Agency Condensed";
	text-align: center;
	width: 100%;
	font-size: 48px;
	background-color: black;}
#aEmpresa h3{
	font-family: "Spy Agency Condensed";
	border-bottom: dotted;
}
#aEmpresa h2, h3, p{
	margin: 0px;
	padding: 10px 0px;
}
#aEmpresa p{
	font-size: 17px;
}
.pilares{
	text-align: center;
	color: black;
	padding: 5px;
	padding-bottom: 10px;
	background-color: #0066cc;
}
.pilares li{
	list-style: none;
}
.resumo {
 	color: black;
	text-align: center;
	padding: 15px;
	padding-bottom: 0px;
}
#aEmpresa .col-md-6{
	padding: 0px;
}
#aEmpresa .col-sm-12{
	padding: 0px;
}
#estrutura{
	text-align: center;
}
#estrutura h2{
	margin-top: 0px;
}
#estrutura img{
	border: solid;
	border-width: 5px;
	border-color: black;
	margin-bottom: 10px;
}
#estrutura .col-md-6{
	padding: 0px;
	background-color: #666;
	color: white;
	border-top: solid;
	border-color: black;
}
#estrutura .col-sm-12{
	padding: 0px;
}
.definicao p{
	margin: 0px 5px;
}
#estrutura .esquerda{
	color: black;
	background-color: white;
}
/* Fim estilos sobre */
/* 6.0 Estilos do footer */
#rodape{
	width: 100%;
	height: 600px;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	text-align: center;
}
.info{
	text-align: left;
}
.col-md-6{
	padding-right: 80px;
	padding-left: 80px;
}
.btn-primary{
	margin-top: 10px;
	float: right;
	width: 100%;
}
.logo{
	width: 100px;
	height: 100px;
	margin-top: 50px;
}
.rights{
	width: 100%;
	height: 100px;
	background-color: black;
	text-align: center;
	color: #cccccc;
}
.rights h4{
	margin-top: 45px;
}
/* Fim estilos rodapé */