/* 
** 1.0 - Geral
** 2.0 - Estilos para a navbar
** 3.0 - Estilos para o header
** 4.0 - Estilos para a sessão de equipes
** 5.0 - Estilos para a sessão sobre
** 6.0 - Estilos para o home
** 7.0 - Estilos do footer
*/

/* 1.0 - Geral*/
*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
	height: 100%;
	width: 100%;
}
.linha{
	clear: both;
}
p, li{
	font-weight: 800;
}
/* Fim geral */

/* 2.0 - Estilos para a navbar */
.navbar-default{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 2;
	font-size: 15px;
	border-radius: 0px;
	border-style: none;
	background-color: black;
	border-bottom: 1px solid;
    border-color: #ccc;
}
.container-fluid{
	margin: 0px 50px;
}
.navbar a{
	font-family: "Spy Agency Condensed";
	color: grey;
}
.navbar a:visited{
	color: white;
}
.navbar-brand h3{
	padding-top: 0px;
	color: white;
}
.caixaLogo{
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 120px;
    height: 81px;
    background: black;
    border-bottom: 1px solid;
    border-color: #ccc;
}
.caixaImagemLogo{
    display: block;
    margin: 12px auto;
    width: 100px;
}
/*Fim navbar*/

/* 3.0 - Estilos para o header */
header{
	position: relative;
	background-image: url("../img/ic.jpg");
	background-size: cover;
	background-position: bottom center;
	width: 100%;
	height: 700px;
}
.caixaHeader{
	position: absolute;
	height: 200px;
	width: 100%;
	top: calc(45% - 75px);
	text-align: center;
	background-color: rgba(255,255,255,0.05);
}
.caixaHeader h1{
	font-family: "Spy Agency Condensed";
	font-size: 80px;
	color: white;
}
.caixaHeader h4{
	color: white;
}
.transparenciaHeader{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
/*  Fim estilos header */

/* 4.0 - Estilos para a sessão de equipes */
#equipes{
	width: 100%;
	/*height: 2300px;*/
	text-align: center;
	padding: 25px 50px;
	background-color: rgba(0, 0, 0, 0.2);
}
.sessaoEquipes{
	padding: 20px;
}
.sessao h3{
	font-size: 30px;
}
.rosto{
	margin-top: 50px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid white;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-color: black;
}
#equipes h2{
	font-family: "Spy Agency Condensed";
	border-top: dotted;
	border-bottom: dotted;
}
.titulo h2{
	font-family: "Spy Agency Condensed";
	text-align: center;
	width: 100%;
	font-size: 48px;
	background-color: black;
	color: white;
	margin: 0px;
	padding: 10px 0px;
}
/* Fim estilos sessão de equipes */

/* 5.0 - Estilos para a sessão sobre */
#aEmpresa, #estrutura{
	color: white;
}
#aEmpresa h2, #estrutura h2{
	font-family: "Spy Agency Condensed";
	text-align: center;
	width: 100%;
	font-size: 48px;
	background-color: black;
}
#aEmpresa h3{
	font-family: "Spy Agency Condensed";
	border-bottom: dotted;
}
#aEmpresa h2, h3, p{
	margin: 0px;
	padding: 10px 0px;
}
#aEmpresa p{
	font-size: 17px;
}
.pilares{
	text-align: center;
	color: black;
	padding: 5px;
	padding-bottom: 10px;
	background-color: #0066cc;
}
.pilares li{
	list-style: none;
}
.resumo {
 	color: black;
	text-align: center;
	padding: 15px;
	padding-bottom: 0px;
}
#aEmpresa .col-md-6{
	padding: 0px;
}
#aEmpresa .col-sm-12{
	padding: 0px;
}
#estrutura{
	text-align: center;
}
#estrutura h2{
	margin-top: 0px;
	padding: 10px 0px;
}
#estrutura img{
	border: solid;
	border-width: 5px;
	border-color: black;
	margin-bottom: 10px;
}
#estrutura .col-md-6{
	padding: 0px;
	background-color: #666;
	color: white;
	border-top: solid;
	border-color: black;
}
#estrutura .col-sm-12{
	padding: 0px;
}
.definicao p{
	margin: 0px 5px;
}
#estrutura .esquerda{
	color: black;
	background-color: white;
}
/* Fim estilos sobre */

/* 6.0 - Estilos para o home */
#home{
	position: relative;
	width: 100%;
	text-align: center;
}
.barraSessao{
	font-family: "Spy Agency Condensed";
	width: 100%;
	background-color: black;
	color: white;
	margin: 0px;
}
.barraSessao h2{
	font-size: 48px;
	padding: 10px 0px;
	margin: 0px;
}
.infoSessao{
	margin-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid black;
}
.infoSessao h3{
	font-family: "Spy Agency Condensed";
	border-bottom: dotted;
}
#headerHome .caixaHeader{
	position: absolute;
	height: 300px;
	width: 100%;
	top: calc(50% - 150px);
	text-align: center;
}
#pqJunior{
	text-align: center;
	background-color: #ccc;
	color: black;
}
#pqJunior h2, h3{
	font-family: "Spy Agency Condensed";
}
.resposta{
	padding: 20px;
}
.razoes h2{
	font-size: 40px;
	background-color: #0066cc;
	padding: 10px;
	margin: 20px 0px;
}
.circular {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: solid;
	border-color: silver;
	margin: 10px;
}
.facebook{
	padding: 5px;
	margin-top: 15px;
}
.separacao{
	border-bottom: dotted;
	margin: 15px 0px;
}
#portfolio{
	text-align: center;
}
.portfolioPic img{
  border: 10px solid #0066cc;  
  height: 200px;
  width: 200px;
  margin: 20px;
  overflow: hidden;
  border-radius: 100%; 
}
.brilha img {
  -webkit-filter: contrast(40%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.brilha img:hover {
  -webkit-filter: contrast(100%);
}
#contactar{
	text-align: center;
	position: relative;
	background-image: url("../img/negociacao.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 250px;
	border-top: solid;
	border-bottom: solid;
	border-width: 5px;
	border-color: black;
}
#contactar .col-md-3, .col-sm-3, .col-xs-12{
	padding: 0px;
}
#contactar .texto{
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	color: black;
	height: 40px;
	top: calc(50% - 20px);
	position: absolute;
}
/* Fim estilos home */

/* 7.0 - Estilos do footer */
footer{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
#rodape{
	padding: 50px 50px 0px 50px;
	color: white;
	text-align: center;
	border-top: solid;
	border-width: 5px;
	border-color: black;
}
.info{
	text-align: left;
}
.col-md-6{
	padding-right: 80px;
	padding-left: 80px;
}
.btn-primary{
	margin-top: 10px;
	float: right;
	width: 100%;
}
.logo{
	width: 100px;
	height: 100px;
	margin-top: 50px;
}
.rights{
	width: 100%;
	height: 100px;
	background-color: black;
	text-align: center;
	color: #cccccc;
}
.rights h4{
	margin-top: 45px;
}
/* Fim estilos rodapé */