#rodape{
	width: 100%;
	height: 400px;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
}
.btn-primary{
	margin-top: 10px;
	float: right;
	width: 100%;
}
.rights{
	width: 100%;
	height: 50px;
	background-color: black;
	text-align: center;
	color: #cccccc;
}
.rights h4{
	margin-top: 15px;
}
.logo{
	width: 200px;
	height: 200px;
}